*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
.container_1{
    width: 100%;
    background-color: #000000;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    display: flex;
}

.container{
position: absolute;
width: 1432px;
height: 720px;
left: 50px;
top: 40px;
background: #DACAC2;
border-radius: 50px;
}
.delete {
    position: absolute;
    font-size: 40px;
    left: 70px;
    top: 55px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    z-index: 10;
}


.img1{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 170px;
    top: 130px;
}
.help a{
    position: absolute;
    font-size: 16px;
    font-style: italic;
    right: 40px;
    top: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    z-index: 10;
}


span{
    position: absolute;
    font-size: 24px;
    color: #000000;
    left: 208px;
    top: 540px;
    font-family: fantasy;
}




.input-box{
    position: absolute;
    background: #B19687;
    left: 800px;
    top: 150px;
    width: 550px;
    height: 60px;
    border-radius: 10px;
    z-index: 1111;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #000000;
    font-size: 20px;
    padding: 20px 45px 20px  60px;
}

.input-box1{
    position: absolute;
    background: #B19687;
    left: 800px;
    top: 250px;
    width: 550px;
    height: 60px;
    border-radius: 10px;
    z-index: 1111;
}

.input-box1 input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #000000;
    font-size: 20px;
    padding: 20px 45px 20px  60px;
}

.input-box input::placeholder{
    color:#000000;
}

.input-box i {
    position: absolute;
    left: 20px ;
    top:  50% ;
    transform: translateY(-50%);
    font-size: 24px;
}

.input-box1 input::placeholder{
    color:#000000;
}

.input-box1 i {
    position: absolute;
    left: 20px ;
    top:  50% ;
    transform: translateY(-50%);
    font-size: 24px;
}
.hide i{
    position: absolute;
    right: 110px;
    top: 267px;
    font-size: 24px;
    z-index: 1115;
}


h1{
position: absolute;
color: #000000;
left: 800px;
top: 60px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wave img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1075px;
    top: 60px;
}

.forget_pass a{
    position: absolute;
    font-size: 16px;
    font-style: italic;
    right: 490px;
    top: 320px;
    z-index: 1115;
}

.remember_me input{
    position: absolute;
    right: 600px;
    top: 360px;
    z-index: 1200;
    font-size: 200px;
}

.remember_me  label{
    position: absolute;
    right: 475px;
    top: 354px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}


.login_with_facebook{
    position: absolute;
    left: 800px;
    top: 405px;
    background: #B19687;
    width: 270px;
    height: 60px;
    border-radius: 10px;
    padding-right: 30px;
    color: #000000;
}

.login_with_facebook i{
    position: absolute;
    left: 20px ;
    top:  50% ;
    transform: translateY(-50%);
    font-size: 24px;
}
.login_with_facebook span{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 60px ;
    top:  30px ;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000000;
    font-weight: 100;
}

.login_with_google{
    position: absolute;
    left: 1080px;
    top: 405px;
    background: #B19687;
    width: 270px;
    height: 60px;
    border-radius: 10px;
}

.login_with_google i{
    position: absolute;
    left: 20px ;
    top:  50% ;
    transform: translateY(-50%);
    font-size: 24px;
    color: #000000;
}

.login_with_google span{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 60px ;
    top:  30px ;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000000;
    font-weight: 100;
}

.login_btn{
    position: absolute;
    left: 930px;
    top: 540px;
    background: #B19687;
    width: 400px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px ;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.signup_link span{
    position: absolute;
    left: 1010px;
    top: 600px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: hsl(0, 0%, 0%);
}







