* {
  margin: 0;
  padding: 0;
}

 
body {
  background-image: url(/public/images/chat-background.png);
  background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

main {
 background-color: transparent;
   height: auto;
   margin-top: 10px;
   margin-bottom: 10px;
}


/* MAIN */
.message-column {
 background-color: #DCD0C7;
 border-radius: 0px 20px 20px 0px;
 height: 60px;
 margin: 20px 20px 0px 0px;
 padding: 5px;
 width: 170px !important;
}



.nav-wrapper {
  display: flex;
  align-items: center;
  
}

/* OFFCANFAS */
.offcanvas-btn img ,
.back-btn img {
  max-width: 25px;
  height: auto;
}

.offcanvas-btn img {
  margin-left: 10px;
}


.offcanvas-start,
.offcanvas-header,
.offcanvas-body {
  border-radius: 0px 20px 0px 0px;
  background: #B19687;
}


.offcanvas-body {
background: #877266;
padding-left: 0px !important;
}


/* NAME SECTION*/

.name-wrapper {
  display: flex;
  margin-top: 10px;
  border-radius: 0px 20px 20px 0px;
  background: #DCD0C7; 
  max-height: 100px;
}

.name-wrapper:hover {
  background: #bbb1a9;
}

.name-wrapper:hover p{
    font-size: 20.5px;
}

.image-section {
  display: flex;
  align-items: center; 
}


.image-section p{
  color: black;
  font-size: 20px;
  margin: 10px;
}


.name1-image {
  width: 65px;
  height: auto;
  margin: 20px;
}



/* CHAT SECTION */
.chat-section {
  position: relative;
  background-color: #B19687;
  border-radius: 20px 20px 20px 20px;
  margin-right: 0px;
  height: 540px;
}

/* CHAT HEADER */
.chat-header {
  border-radius: 20px 20px 20px 20px;
  background: #DECEC4;
  margin: 20px;
  display: flex;
  align-items: center; 
}

.header-img img {
    margin: 20px;
    width: 60px;
    height: auto;
}

.user-info {
  margin-left: auto;
}

.user-dropdown {
    margin-left: auto; 
    margin-right: 20px;
}


/* CHAT BODY */
.chat-body {
    border-radius: 20px 20px 20px 20px;
    background: #DECEC4;
    margin: 20px;
    padding: 30px;
    max-height: 300px; 
    overflow-y: auto;
}

.msg-time-reciever {
  position: absolute;
	left: 0;
	bottom: -15px;
	color: black;
	font-size: 10px;
}

.msg-time-sender {
  position: absolute;
	right: 0;
	bottom: -15px;
	color: black;
	font-size: 10px;
} 

.bubble-reciever {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background: #79675d;
  padding: 10px;
  position: relative;
}

.bubble-sender {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #A78E81;
  padding: 10px;
  position: relative;
}

.chat-footer {
  margin: 20px;
}