body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-raleway: Raleway;
    --font-bebas-neue: "Bebas Neue";

    /* font sizes */
    --font-size-17xl: 36px;
    --font-size-13xl: 32px;
    --font-size-5xl: 24px;
    --font-size-9xl: 28px;
    --font-size-xl: 20px;
    --font-size-29xl: 48px;
    --font-size-77xl: 96px;
    --font-size-21xl: 40px;
    --font-size-45xl: 64px;
    --font-size-36xl: 55px;

    /* Colors */
    --color-black: #000;
    --color-dimgray-100: #646464;
    --color-gainsboro: #d9d9d9;
    --color-silver-100: #c4c4c4;
    --color-silver-200: rgba(205, 195, 185, 0.6);
    --color-white: #fff;
    --color-darkgray: #a6a6a6;
    --color-snow-100: #fef7f7;
    --color-snow-200: #fff5f5;
    --color-gray-100: #949494;
    --color-gray-200: rgba(128, 122, 116, 0.6);
    --color-gray-300: rgba(0, 0, 0, 0.25);
    --color-darkslategray: #373737;

    /* Border radiuses */
    --br-26xl: 45px;
    --br-11xl: 30px;
    --br-6xl: 25px;
    --br-71xl: 90px;
    --br-xl: 20px;
    --br-68xl: 87px;
    --br-mini: 15px;
    --br-31xl: 50px;
    --br-21xl: 40px;
}