* {
  margin: 0;
  padding: 0;
}

main {
  background-color: #ccb6a2;
}
 
/*NAVBAR*/
.navbar {
  background: #00000030;
  border-bottom: 2.5px solid #0000003f;
}

.navbar.navbar-scrolled {
   transition: ease-in;
}


.navbar-nav:first-child p {
  margin-left: 45px;
  margin-top: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  font-family: Raleway;
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: 0.3px;
}

.navbar-brand {
  content: url('../images/ep-arrow-down.svg')
}

.navbar-nav .nav-link.dropdown-toggle::after {
  content: none; 
}

.navbar-nav:first-child p:hover {
  text-decoration-line: underline;
  text-decoration-color: white;
  font-size: 22.5px;
}

.nav-item.dropdown .dropdown-menu {
  background-color: #735d5748;
  margin-top: 15px;
}

.nav-item.dropdown .dropdown-item p{
  margin: auto;
  text-align: center;
}

.nav-item.dropdown .dropdown-menu :hover{
  background-color: transparent;
}


.nav-item .nav-custom2 p, 
.nav-item .nav-custom1 p {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: 0.3px;
}

.nav-item .nav-custom2:hover p, 
.nav-item .nav-custom1:hover p {
  text-decoration-line: underline;
  font-size: 15.5px;
  text-decoration-line: underline;
  text-decoration-color: white;
}

.nav-item .nav-notif {
    display: inline-block; 
    background-image: url('/public/images/ellipse-5.svg'); 
    background-size: cover; 
    width: 20px;
    height: 20px;
    background-position: center; 
    text-decoration: none;
    position: relative;
    right: 170px;
    top: 10px;
}

h2.FAQ {
  margin: auto;
  top: 10px;
  text-align: center;
}

/* Rectangle Styles */
.rectangle {
  width: 168px;
  height: 158px;
  border-radius: 90px;
}

.rectangle16 {
  background: #DECEC4;
  left: 127px;
  right: 127px;
  top: 442px;
  
}

#rectangle17 {
  background: #DECEC4;
  left: 127px;
  top: 642px;
}

#rectangle18 {
  background: #DECEC4;
  left: 127px;
  top: 842px;
}

#rectangle19 {
  background: #DECEC4;
  left: 127px;
  top: 1046px;
}

#rectangle20 {
  background: #DECEC4;
  left: 127px;
  top: 1046px;
}

#rectangle21 {
  background: #DECEC4;
  left: 127px;
  top: 1046px;
}

#rectangle22 {
  background: #DECEC4;
  left: 127px;
  top: 1046px;
}



/*FOOTER*/
.footer{
  background: #DBCABA;
  text-align: center;
}