
/*HOMEPAGE ABOUT*/
.container-hmpg-about {
  background: #ccb6a2;
}

.row.about1 {
    margin-bottom: 30px;
}

.border-homepage1, 
.border-homepage2 {
 background: #bfab98;
 margin-bottom: 20px;
 padding: 0%;
}

.border-homepage1 h3,
.border-homepage2 h3 {
  color: #ffffff;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.carousel {
  max-width: 400px;
  height: auto;
  margin: 20px;
  position: relative;
}

.carousel-inner {
  width: 400px;
}

.about-text1 p,
.about-text2 p {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  margin: 10px;
  padding: 40px;
}

.about-text1 {
  text-align: left;

}

.about-text2 {
  text-align: right;

}

.btn.btn-custom1 {
  border-radius: 15px;
  background-color: #735D57;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  border-color: transparent;
}

.btn.btn-custom1:hover {
  background-color: #3f3430;
  border-color: transparent;
  color: white;
} 


/*HOMEPAGE ARTICLE*/

.article-container {
  margin-top: 20px;
  background: #B19687;
  padding: 50px;
  height: auto;
}

.card {
  padding: 20px;
}

.card img {
  border-radius: 30px;
  width: 300px;
  height: 200px;
}


.card-body h5 {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-justify: auto;
  
}

.card-body p {
    display: flex;
    flex-shrink: 2;
    color: #000;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.owl-carousel {
    position: relative;
}

.owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-80px);
}

.owl-prev,
.owl-next {
  width: 50px;
  height: 50px;
  background-color: #fff !important;
  color: #000 !important;
  background-color: #534440 !important;
}

.btn.article-btn {
  background-color: #735D57;
  margin: auto;
  color: white;
  border-radius: 20px;

}

.btn.article-btn:hover {
  background-color: #3f3430;
  border-color: transparent;
  color: white;
}

.article-container h2 {
  color: #ffffff;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 30px;
}

