

/*restaurant CARD*/
.container-restaurant-card {
    background-image: url('/public/images/resto-background.png'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.container-restaurant-card .card-wrapper {
  background: none;
  border-color: transparent;
}

.container-restaurant-card .restaurant-card {
  background-color: #B19687;
  border-radius: 10px;

}

.card-body {
  background-color: #DECEC4;;
  border-radius: 10px;
  margin: 30px;
}

.image-body .card-image {
  border-radius: 35px;
  width: 280px !important;
  height: 210px !important; 
  margin: auto;
  padding: 20px;
}


.card-title h5 {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-text p {
  font-size: 15px;
  color: #000;
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

small.text-body-secondary {
  font-size: 11px;
  color: #000;
  text-align: right;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.btn.btn-custom, 
.btn.btn-custom:hover {
  background: none;
  border: none;
}

.btn-custom img {
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 5px;
}

.btn.btn.btn-custom img:hover {
  width: 52%; 
}


