* {
  margin: 0;
  padding: 0;
}

main {
  background-color: #ccb6a2;
}
 

/*NAVBAR*/
.navbar {
  background: #00000030;
  border-bottom: 2.5px solid #0000003f;
}

.navbar.navbar-scrolled {
   transition: ease-in;
}


.navbar-nav:first-child p {
  margin-left: 45px;
  margin-top: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  font-family: Raleway;
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: 0.3px;
}



.navbar-nav .nav-link.dropdown-toggle::after {
  content: none; 
}

.navbar-nav:first-child p:hover {
  text-decoration-line: underline;
  text-decoration-color: white;
  font-size: 22.5px;
}

.nav-item.dropdown .dropdown-menu {
  background-color: #735d5748;
  margin-top: 15px;
}

.nav-item.dropdown .dropdown-item p{
  margin: auto;
  text-align: center;
}

.nav-item.dropdown .dropdown-menu :hover{
  background-color: transparent;
}

.notif-btn img{
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.notif-btn :hover {
  background-color: rgba(255, 255, 255, 0.369);
  border-radius: 10px;
  width: 20.5px;
}

.toast-img {
  width: 35px !important;
}

.chat-btn, 
.chat-btn img{
  width: 15px;
  text-decoration: none;
  margin-right: 5px;
  border-right: 1px solid #000000;
}


.nav-item .nav-custom2 p, 
.nav-item .nav-custom1 p {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  -webkit-text-stroke: #000;
  -webkit-text-stroke-width: 0.3px;
}

.nav-item .nav-custom2:hover p, 
.nav-item .nav-custom1:hover p {
  text-decoration-line: underline;
  font-size: 15.5px;
  text-decoration-line: underline;
  text-decoration-color: white;
}

/*FOOTER*/
.footer{
  background: #DBCABA;
}


/* BACK SCROLL BUTTON */
.back .back-scroll {
  display: inline-block; 
  background-image: url('/public/images/back-scroll.svg'); 
  background-size: cover; 
  width: 50px;
  height: 50px;
  background-position: center; 
  text-decoration: none;
  position: relative;
  bottom: 150px;
  right: 50px;
  float: inline-end;

}