
body {
 background: #80685A !important;
}

main {
  height: 720px;
  width: auto;
  margin: 0px 30px 0px 30px;
  padding: 50px;
}

.back-btn img{
  width: 20px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.suggestion-header h4 {
  color: #000;
  text-align: center;
  font-family: raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content  {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 50px 0px 20px 0px;
  margin: 50px 0px 50px 0px;
}



.input {
  width: 100% !important;
  border-radius: 50px !important;
  background: #80685A !important;
  padding: 20px !important;
  font: raleway !important;
  font-size: 18px !important;
  margin-bottom: 30px;
}

#fake-captcha {
  text-align: center;
  font-size: 25px;
  font: raleway;
  line-height: 4.25vw;
  white-space: nowrap;
  cursor: pointer;
  color: #444;
}

#fake-checkbox {
  position: relative;
  float: left;
  margin-right: 20px; 
  width: 4vw;
  height: 4vw;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
  box-sizing: border-box;
}

#fake-checkbox:hover {
  border-color: #aaa;
  background: #eee;
}

#fake-captcha.loading {
  cursor: default;
  color: #444;
}

.loading #fake-checkbox {
  border-radius: 50%;
  background: transparent;
  border-color: #888;
  border-width: 12px;
  border-style: inset;
  animation: spin 1s infinite linear;
}

.pass #fake-checkbox {
  background: #c1d9a3;
  border-color: #669f56;
}

.pass #fake-checkbox:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "\2713";
  font-size: 6vw;
  color: #275f18;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fail {
  animation: fail 0.1s 4;
}

@keyframes fail {
  0% { transform: translate(-50%, -50%); }
  25% { transform: translate(-51%, -50%); }
  50% { transform: translate(-50%, -50%); }
  75% { transform: translate(-49%, -50%); }
  100% { transform: translate(-50%, -50%); }
}
